@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 68px;
    --mobile-nav-height: 48px;
}

@layer utilities{

}

@layer base{
    h1 {
        font-family: var(--display-font);
        font-weight: bold;
    }
    
    p {
        font-family: var(--body-font);
    }
}