@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 68px;
    --mobile-nav-height: 48px;
}

@layer utilities {
   
}

@layer components {
    .landing-sec-heading {
        @apply text-2xl md:text-4xl lg:text-5xl xl:text-6xl md:leading-normal 
    }
    .landing-sec-pl {
        @apply lg:ml-[4rem] md:ml-[1rem]
    }
}

@layer base{
    h1 {
        font-family: var(--display-font);
        font-weight: bold;
    }
    
    p {
        font-family: var(--body-font);
    }
}